/* .pop-up{
    position: relative;
    background-image: url(../assets/img/ethereum.jpg);
    width: 800px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color:var(--just-white);
} */
/* 
.pop-up{
    whidth: 350px;
} */